$TTL 86400
@              IN      SOA     mail.bene.com.mx.      lacuna.bene.com.mx. (
                                2018061101      ; serial number YYMMDDNN
                                28800           ; Refresh
                                7200            ; Retry
                                864000          ; Expire
                                86400           ; Min TTL
                                )

@               IN      NS      mail.bene.com.mx.
#bene.com.mx.    IN     NS      mail.bene.com.mx.
49              IN      PTR     mail.bene.com.mx.
