$TTL 86400
@                               IN      SOA     mail2.bene.com.mx.      lacuna.bene.com.mx. (
                                2019120301      ; serial number YYMMDDNN
                                28800           ; Refresh
                                7200            ; Retry
                                864000          ; Expire
                                86400           ; Min TTL
                                );
@               IN      NS  mail2.bene.com.mx.
#bene.com.mx.   IN      NS      bene.com.mx.
6               IN      PTR     mail2.bene.com.mx.
