; bene.com.mx
$TTL    604800
@       IN      SOA     ns1.bene.com.mx. root.bene.com.mx. (
                     2020021501 ; Serial
                         604800 ; Refresh
                          86400 ; Retry
                        2419200 ; Expire
                         604800); Negative Cache TTL
;
_xmpp-client._tcp.bene.com.mx. 86400 IN SRV 0 5 5222 mail.bene.com.mx.
_xmpp-server._tcp.bene.com.mx. 86400 IN SRV 0 5 5269 mail.bene.com.mx.
@       IN      NS      ns1
        IN      MX      10 mail
        IN      A       192.168.0.107
ns1     IN      A       192.168.0.107
mail    IN      A       192.168.0.107 ; We have our mail server somewhere else.
chat    IN      A       192.168.0.107
www     IN      A       132.148.236.158
